body {
    margin: 60px auto;
    width: 70%;
    background-color: #003333;
}

nav ul, footer ul {
    padding: 0px;
}
nav ul li, footer ul li {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
    color: #999;
}

a {
    text-decoration: none;
    color: #00b0b0;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', sans-serif;
    color: #ccc;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}

p, ul li {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #bbb;
    font-family: 'Alegreya', serif;
}

footer {
    border-top: 1px solid #006666;
    font-size: .8em;
    color: #999;
}

img {
    width: 100%;
}
